################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProjetoM3/ProjetoM3/ProjetoM3/obj
